*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Rubik;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
/* HEADING */
header{
    
}
.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #55c5ee;
    color: white;
    gap: 5px;
}
